<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="frame">
          <div class="mask-group-main-boi-wrapper">
            <img class="mask-group-main-boi" src="../static/img/maskgroupmainboi.png" />
          </div>
          <div class="group">
            <div class="text-wrapper">Llama Rama</div>
            <div class="text-wrapper-2">Age: 24</div>
            <div class="text-wrapper-3">Sex: M</div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="text-wrapper-4">Pending</div>
              <div class="ellipse"></div>
            </div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group-2">
            <div class="text-wrapper">Subjective</div>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="group-2">
            <div class="text-wrapper">Objective</div>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="frame-2">
          <div class="group-2">
            <div class="text-wrapper">Assessment</div>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="frame-3">
          <div class="group-2">
            <div class="text-wrapper">Plan</div>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="frame-4">
          <div class="text-wrapper-5">Patient History</div>
          <div class="lab-button-wrapper">
            <div class="lab-button">
              <div class="overlap-group-2">
                <div class="text-wrapper-6">Lab</div>
                <img class="info" src="../static/img/info.png" />
              </div>
            </div>
          </div>
          <div class="rectangle-3"></div>
        </div>
        <div class="group-3">
          <div class="frame-wrapper">
            <div class="frame-5">
              <div class="frame-6">
                <div class="microphone-wrapper"><img class="microphone" src="../static/img/microphone.png" /></div>
              </div>
              <div class="frame-7">
                <div class="rectangle-4"></div>
                <div class="rectangle-5"></div>
              </div>
              <div class="download-from-the-wrapper">
                <img class="download-from-the" src="../static/img/downloadfromthecloud.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <div class="group-4">
              <div class="llama-co-wrapper"><div class="llama-co">Llama &amp; Co.</div></div>
            </div>
            <div class="group-5">
              <img class="home" src="../static/img/home.png" />
              <img class="bookmark" src="../static/img/bookmark.png" />
              <img class="doorbell" src="../static/img/doorbell.png" />
              <img class="mask-group-user-boi" src="../static/img/maskgroupuserboi.png" />
            </div>
          </div>
        </div>
        <div class="group-6">
          <div class="frame-8">
            <div class="group-7">
              <div class="overlap-group-3">
                <div class="llama-co-2">Llama &amp; Co.</div>
                <div class="title">
                  <div class="button-list">
                    <img class="x-logo" src="../static/img/xlogo.svg" />
                    <img class="img" src="../static/img/logoinstagram.svg" />
                    <img class="img" src="../static/img/logoyoutube.svg" />
                    <img class="img" src="../static/img/linkedin.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="text-strong"><div class="text-strong-2">Use cases</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">UI design</div></div>
              <div class="text-link-list-item"><div class="list-item">UX design</div></div>
              <div class="text-link-list-item"><div class="list-item">Wireframing</div></div>
              <div class="text-link-list-item"><div class="list-item">Diagramming</div></div>
              <div class="text-link-list-item"><div class="list-item">Brainstorming</div></div>
              <div class="text-link-list-item"><div class="list-item">Online whiteboard</div></div>
              <div class="text-link-list-item"><div class="list-item">Team collaboration</div></div>
            </div>
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="text-strong"><div class="text-strong-2">Explore</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">Design</div></div>
              <div class="text-link-list-item"><div class="list-item">Prototyping</div></div>
              <div class="text-link-list-item"><div class="list-item">Development features</div></div>
              <div class="text-link-list-item"><div class="list-item">Design systems</div></div>
              <div class="text-link-list-item"><div class="list-item">Collaboration features</div></div>
              <div class="text-link-list-item"><div class="list-item">Design process</div></div>
              <div class="text-link-list-item"><div class="list-item">FigJam</div></div>
            </div>
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="text-strong"><div class="text-strong-2">Resources</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">Blog</div></div>
              <div class="text-link-list-item"><div class="list-item">Best practices</div></div>
              <div class="text-link-list-item"><div class="list-item">Colors</div></div>
              <div class="text-link-list-item"><div class="list-item">Color wheel</div></div>
              <div class="text-link-list-item"><div class="list-item">Support</div></div>
              <div class="text-link-list-item"><div class="list-item">Developers</div></div>
              <div class="text-link-list-item"><div class="list-item">Resource library</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>